### Project 3 EDA notebook 1

In [1]:
pip install jupyterthemes

Collecting jupyterthemes
  Downloading https://files.pythonhosted.org/packages/8a/08/9dee6dfd7f2aad6c30282d55c8f495b4dc1e4747b4e2bdbeb80572ddf312/jupyterthemes-0.20.0-py2.py3-none-any.whl (7.0MB)
     |████████████████████████████████| 7.0MB 1.5MB/s eta 0:00:01     |██████████████████████████████▊ | 6.7MB 1.5MB/s eta 0:00:01
Requirement already satisfied: notebook>=5.6.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyterthemes) (5.7.8)
Requirement already satisfied: matplotlib>=1.4.3 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyterthemes) (3.2.2)
Requirement already satisfied: ipython>=5.4.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyterthemes) (7.8.0)
Requirement already satisfied: jupyter-core in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyterthemes) (4.6.3)
Collecting lesscpy>=0.11.2 (from jupyterthemes)
  Downloading https://files.pythonhosted.org/packages/f8/d2/665cda6614e3556eaeb7553a3a2963624c2e3bc9636777a1bb654b87b027/lesscpy-0.14.0-py2.py3-none-any.whl (46kB)
     |████████████████████████████████| 51kB 339kB/s eta 0:00:01
Requirement already satisfied: nbformat in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied: Send2Trash in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (0.8.2)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: jupyter-client>=5.2.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.5)
Requirement already satisfied: pyzmq>=17 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (18.1.0)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.2)
Requirement already satisfied: nbconvert in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (5.5.0)
Requirement already satisfied: prometheus-client in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: tornado<7,>=4.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (6.0.3)
Requirement already satisfied: traitlets>=4.2.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (4.3.2)
Requirement already satisfied: ipykernel in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=5.6.0->jupyterthemes) (5.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.16.5)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.4.2)
Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (0.15.1)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (41.2.0)
Requirement already satisfied: pygments in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (2.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (2.0.9)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: backcall in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (4.7.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (4.4.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.0)
Collecting ply (from lesscpy>=0.11.2->jupyterthemes)
  Downloading https://files.pythonhosted.org/packages/a3/58/35da89ee790598a0700ea49b2a66594140f44dec458c07e8e3d4979137fc/ply-3.11-py2.py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 524kB/s eta 0:00:01
Requirement already satisfied: six in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.12.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (3.0.2)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3)
Requirement already satisfied: bleach in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (3.1.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.2)
Requirement already satisfied: testpath in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4.2)
Requirement already satisfied: defusedxml in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.6.0)
Requirement already satisfied: mistune>=0.8.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: parso>=0.5.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jedi>=0.10->ipython>=5.4.1->jupyterthemes) (0.5.1)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.4.1->jupyterthemes) (0.6.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (0.14.11)
Requirement already satisfied: webencodings in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Installing collected packages: ply, lesscpy, jupyterthemes
Successfully installed jupyterthemes-0.20.0 lesscpy-0.14.0 ply-3.11
Note: you may need to restart the kernel to use updated packages.

In [1]:
#imports

import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#Read in the training data

train_data = pd.read_csv('training_set_values', index_col=0)
train_data.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
#What does this data frame look like?

print(train_data.shape)
train_data.columns

(59400, 40)

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [4]:
#inspect data types, identify null values, and inspect the summary statistics for each column
# function via TDS
def proj_eda(df): 
    eda_df = {}
    eda_df['null_sum'] = df.isnull().sum()
    eda_df['null_pct'] = df.isnull().mean()
    eda_df['dtypes'] = df.dtypes
    eda_df['count'] = df.count()
    eda_df['mean'] = df.mean()
    eda_df['median'] = df.median()
    eda_df['min'] = df.min()
    eda_df['max'] = df.max()
    
    return pd.DataFrame(eda_df)
proj_eda(train_data)

,null_sum,null_pct,dtypes,count,mean,median,min,max
amount_tsh,0,0.000000,float64,59400,317.650385,0.000000,0,350000
basin,0,0.000000,object,59400,NaN,NaN,Internal,Wami / Ruvu
construction_year,0,0.000000,int64,59400,1300.652475,1986.000000,0,2013
date_recorded,0,0.000000,object,59400,NaN,NaN,2002-10-14,2013-12-03
district_code,0,0.000000,int64,59400,5.629747,3.000000,0,80
extraction_type,0,0.000000,object,59400,NaN,NaN,afridev,windmill
extraction_type_class,0,0.000000,object,59400,NaN,NaN,gravity,wind-powered
extraction_type_group,0,0.000000,object,59400,NaN,NaN,afridev,wind-powered
funder,3635,0.061195,object,55765,NaN,NaN,NaN,NaN
gps_height,0,0.000000,int64,59400,668.297239,369.000000,-90,2770
id,0,0.000000,int64,59400,37115.131768,37061.500000,0,74247
installer,3655,0.061532,object,55745,NaN,NaN,NaN,NaN
latitude,0,0.000000,float64,59400,-5.706033,-5.021597,-11.6494,-2e-08
lga,0,0.000000,object,59400,NaN,NaN,Arusha Rural,Uyui
longitude,0,0.000000,float64,59400,34.077427,34.908743,0,40.3452
management,0,0.000000,object,59400,NaN,NaN,company,wug
management_group,0,0.000000,object,59400,NaN,NaN,commercial,user-group
num_private,0,0.000000,int64,59400,0.474141,0.000000,0,1776
payment,0,0.000000,object,59400,NaN,NaN,never pay,unknown
payment_type,0,0.000000,object,59400,NaN,NaN,annually,unknown
permit,3056,0.051448,object,56344,0.689550,1.000000,False,True
population,0,0.000000,int64,59400,179.909983,25.000000,0,30500
public_meeting,3334,0.056128,object,56066,0.909838,1.000000,False,True
quality_group,0,0.000000,object,59400,NaN,NaN,colored,unknown
quantity,0,0.000000,object,59400,NaN,NaN,dry,unknown
quantity_group,0,0.000000,object,59400,NaN,NaN,dry,unknown
recorded_by,0,0.000000,object,59400,NaN,NaN,GeoData Consultants Ltd,GeoData Consultants Ltd
region,0,0.000000,object,59400,NaN,NaN,Arusha,Tanga
region_code,0,0.000000,int64,59400,15.297003,12.000000,1,99
scheme_management,3877,0.065269,object,55523,NaN,NaN,NaN,NaN
scheme_name,28166,0.474175,object,31234,NaN,NaN,NaN,NaN
source,0,0.000000,object,59400,NaN,NaN,dam,unknown
source_class,0,0.000000,object,59400,NaN,NaN,groundwater,unknown
source_type,0,0.000000,object,59400,NaN,NaN,borehole,spring
subvillage,371,0.006246,object,59029,NaN,NaN,NaN,NaN
ward,0,0.000000,object,59400,NaN,NaN,Aghondi,Zuzu
water_quality,0,0.000000,object,59400,NaN,NaN,coloured,unknown
waterpoint_type,0,0.000000,object,59400,NaN,NaN,cattle trough,other
waterpoint_type_group,0,0.000000,object,59400,NaN,NaN,cattle trough,other
wpt_name,0,0.000000,object,59400,NaN,NaN,24,none

Just realized I am missing the "labels" information, need to join two csv files together

In [5]:
train_labels = pd.read_csv('training_set_labels', index_col=0)

In [6]:
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            59400 non-null  int64
 1   status_group  59400 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

In [24]:
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            59400 non-null  int64
 1   status_group  59400 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

In [7]:
train_df = pd.merge(train_data, train_labels, on=['id'])

In [8]:
train_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [9]:
#Check info again
print(train_df.shape)
print(train_df.columns)

(59400, 41)
Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [10]:
proj_eda(train_df)

,null_sum,null_pct,dtypes,count,mean,median,min,max
amount_tsh,0,0.000000,float64,59400,317.650385,0.000000,0,350000
basin,0,0.000000,object,59400,NaN,NaN,Internal,Wami / Ruvu
construction_year,0,0.000000,int64,59400,1300.652475,1986.000000,0,2013
date_recorded,0,0.000000,object,59400,NaN,NaN,2002-10-14,2013-12-03
district_code,0,0.000000,int64,59400,5.629747,3.000000,0,80
extraction_type,0,0.000000,object,59400,NaN,NaN,afridev,windmill
extraction_type_class,0,0.000000,object,59400,NaN,NaN,gravity,wind-powered
extraction_type_group,0,0.000000,object,59400,NaN,NaN,afridev,wind-powered
funder,3635,0.061195,object,55765,NaN,NaN,NaN,NaN
gps_height,0,0.000000,int64,59400,668.297239,369.000000,-90,2770
id,0,0.000000,int64,59400,37115.131768,37061.500000,0,74247
installer,3655,0.061532,object,55745,NaN,NaN,NaN,NaN
latitude,0,0.000000,float64,59400,-5.706033,-5.021597,-11.6494,-2e-08
lga,0,0.000000,object,59400,NaN,NaN,Arusha Rural,Uyui
longitude,0,0.000000,float64,59400,34.077427,34.908743,0,40.3452
management,0,0.000000,object,59400,NaN,NaN,company,wug
management_group,0,0.000000,object,59400,NaN,NaN,commercial,user-group
num_private,0,0.000000,int64,59400,0.474141,0.000000,0,1776
payment,0,0.000000,object,59400,NaN,NaN,never pay,unknown
payment_type,0,0.000000,object,59400,NaN,NaN,annually,unknown
permit,3056,0.051448,object,56344,0.689550,1.000000,False,True
population,0,0.000000,int64,59400,179.909983,25.000000,0,30500
public_meeting,3334,0.056128,object,56066,0.909838,1.000000,False,True
quality_group,0,0.000000,object,59400,NaN,NaN,colored,unknown
quantity,0,0.000000,object,59400,NaN,NaN,dry,unknown
quantity_group,0,0.000000,object,59400,NaN,NaN,dry,unknown
recorded_by,0,0.000000,object,59400,NaN,NaN,GeoData Consultants Ltd,GeoData Consultants Ltd
region,0,0.000000,object,59400,NaN,NaN,Arusha,Tanga
region_code,0,0.000000,int64,59400,15.297003,12.000000,1,99
scheme_management,3877,0.065269,object,55523,NaN,NaN,NaN,NaN
scheme_name,28166,0.474175,object,31234,NaN,NaN,NaN,NaN
source,0,0.000000,object,59400,NaN,NaN,dam,unknown
source_class,0,0.000000,object,59400,NaN,NaN,groundwater,unknown
source_type,0,0.000000,object,59400,NaN,NaN,borehole,spring
status_group,0,0.000000,object,59400,NaN,NaN,functional,non functional
subvillage,371,0.006246,object,59029,NaN,NaN,NaN,NaN
ward,0,0.000000,object,59400,NaN,NaN,Aghondi,Zuzu
water_quality,0,0.000000,object,59400,NaN,NaN,coloured,unknown
waterpoint_type,0,0.000000,object,59400,NaN,NaN,cattle trough,other
waterpoint_type_group,0,0.000000,object,59400,NaN,NaN,cattle trough,other
wpt_name,0,0.000000,object,59400,NaN,NaN,24,none

In [13]:
#let's set a target and start looking at the data
X = train_df.drop('id', axis = 1)
y = train_df['id']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=47)